<div style="display: flex" cdkDropListGroup>
  <div style="width: 150px;">
    <p>Source</p>
    <mat-list 
      cdkDropList
      [cdkDropListData]="sItems"
      cdkDropListSortingDisabled
      [cdkDropListEnterPredicate]="noReturnPredicate"
      (cdkDropListExited)="onSourceListExited($event)"
      (cdkDropListEntered)="onSourceListEntered($event)">
      <mat-list-item *ngFor="let item of sItems" cdkDrag [cdkDragData]="item">{{ item.name }}</mat-list-item>
    </mat-list>
  </div>
  <div style="width: 150px; margin-left: 15px;">
    <p>Destination</p>
    <mat-list
      cdkDropList
      [cdkDropListData]="dItems"
      (cdkDropListDropped)="destinationDropped($event)">
      <mat-list-item *ngFor="let item of dItems" cdkDrag [cdkDragData]="item">{{ item.name }}</mat-list-item>
    </mat-list>
  </div>
</div>